/*
*
* Autor: Ivan Salas Corrales
* blog: http://programando-o-intentandolo.blogspot.com.es/
*
*/

.toolTip {
	background: rgba(20,20,20,0.9) url('../img/info.gif') center left 5px no-repeat;
	border: 0px /*solid #87cefa*/;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #333;
	color: #ffffff;
	font-size: 0.8em;
	padding: 10px 10px 10px 35px;
	max-width: 600px;
	position: absolute;
	z-index: 100;	

}

.toolTip:not(.initial) {
    display: none;
}

.toolTip {}

.oculto{
	display:none;
}